.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #4f5152;
  color: white;
}

.custom-alert-bg {
  background-color: #4f5152;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0px;
}

.nav-item {
  margin: 12px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: white;
}

.navbar-logo {
  max-width: 100px;
  max-height: 100px;
  margin-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: transform 0.2s ease-in-out;
}

.footer {
  background-color: #4f5152;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3px 0;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .footer {
    padding: 20px;
    text-align: left;
  }

  .footer p {
    font-size: 12px;
    text-align: center;
    margin: 0px;
  }
}

.content-container {
  padding-bottom: 30px;
}

.login-link {
  color: white;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/4428992/pexels-photo-4428992.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 600px;
  position: relative;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-button {
  background-color: #fff;
  color: #4f5152;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.hero-button:hover {
  background-color: #4f5152;
  color: #fff;
}

.customer-reviews {
  display: grid;
  grid-template-columns: 5fr 1fr;
  height: 250px;
  max-width: 200%;
  height: 100%;
  align-items: center;
}

.customer-reviews > div {
  text-align: center;
  padding: 20px;
}

.customer-reviews img {
  display: grid;
  height: 250px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-page-text {
  padding: 0px 150px;
}

.who-are-we {
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 1px solid #ddd;
  height: 250px;
  max-width: 200%;
  height: 100%;
  object-fit: cover;
  align-items: center;
}

.who-are-we > div {
  text-align: center;
}

.who-are-we p {
  padding-left: 20px;
  padding-right: 20px;
}

.who-are-we img {
  display: grid;
  height: 250px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.features img {
  display: grid;
  height: 200px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.center {
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.comments-container {
  display: flex;
  flex-direction: column;
}

.comment-box {
  border: 1px solid #ccc;
  padding-bottom: 5px;
  margin: 5px 10px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.comment-exercise {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.comment-text {
  flex: 1;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.assigned-date {
  color: #999;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.exercises-container {
  display: flex;
  flex-direction: column;
}

.exercise-box {
  border: 1px solid #ccc;
  padding-bottom: 5px;
  margin: 5px 10px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.exercise-info {
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.exercise-text {
  display: flex;
  flex: 1;
  align-items: center;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.emphasis {
  font-weight: bold;
}
form label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

.btn-link {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin: 0px 5px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin: 0px 5px;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success hr {
  border-top-color: #b1dfbb;
}

.alert-success .alert-link {
  color: #0c712e;
}

.exercise-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.exercise-form-popup {
  background-color: #fff;
  max-height: 770px;
  width: 800px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.comment-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.comment-form-popup {
  background-color: #fff;
  max-height: 770px;
  width: 800px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.nav-link.active {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px !important;
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.15);
}
